body {
  padding-top: 80px;
}
footer {
  padding: 30px 0;
}
.navbar-nav > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  padding: 12px 15px;
}
.navbar-toggle {
  margin: 0;
  padding: 16px;
}
/* carousel */
#myCarousel {
  margin-bottom: 50px;
}
.carousel-inner > .item {
  background: #333;
  text-align: center;
  margin-bottom: 0;
}
.control-buttons {
  text-align: center;
}
.transition-timer-carousel-progress-bar {
  height: 3px;
  background-color: #0057ff;
  width: 0%;
  margin: 0px 0px 0px 0px;
  border: none;
  z-index: 11;
  position: relative;
}

.thumb {
  display: block;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}
.thumb > img {
  width: 100%;
}
.item {
  margin-bottom: 50px;
}
.item h6 {
  display: inline-block;
}
.item .link {
  display: inline-block;
  position: absolute;
  padding-top: 10px;
  right: 15px;
}
.item .link a {
  line-height: 18px;
}
.link a:last-child {
  border-radius: 30px;
  font-size: 8px;
  margin: -3px 0 0 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* sidebar */
.panel-body {
  padding: 15px 0;
  line-height: 1.4;
}
.panel-body img {
  padding-right: 0;
}
.panel-body h6 {
  margin-top: 0;
  margin-bottom: 6px;
}
.panel-body p {
  color: #797979;
}
.panel {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* subpage */
.subwrap {
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.imgwrap img {
  width: 100%;
}
.subwrap p {
  margin: 15px 0;
}
.space {
  height: 30px;
}
.relimg {
  padding-top: 30px;
  background-color: #f5f5f5;
}
.comment {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.btnTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
  color: #fff;
  border-radius: 50px;
  background-color: #0057ff;
}
.btnTop:hover,
.btnTop:focus {
  bottom: 55px;
  color: #fff;
  background-color: #0043c9;
}
